/* Style */

h1 {text-align:center}

.about__container {clear:both; text-align:center}
/* 
.about__text {max-width:45em}
*/

.form {clear:both; text-align:center}
.form__inner {}
.form__label {}
.form__input {clear:both; max-width:40em}
.form__param {}
.form__submit {clear:both; padding:0.25ex 1ex 0.25ex 1ex; border-radius:0.25em;
               border: thin solid black; background-color:green; color:white}
.form__submit--inactive {color:lightgray}

.results--notify-ok,
.results--notify-warn {clear:both; text-align:center; padding:5em; margin:1em;
                       font-size:110%; font-weight:bold}
.results--notify-ok {border: thin solid green}
.results--notify-warn {border: medium solid red}

.results {clear:both}
.results__category {float:left; border-top: thin solid gray; padding: 0 1em 2em 0}
.results__phrase {clear:both; margin-top:1em}
.results__term {float:left; text-align:center; padding:1em}

.results__row--even {color:gray}

.spacer {clear:both; margin-bottom:15%}

.copr {clear:both}
.copr {margin-top:1em; border-top: thin solid gray; text-align:right; color:gray}
.copr a {text-decoration:none; color:gray}
